.baseCamp-details-main{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-basis: 30%;
    min-height: 400px;
    padding-bottom: 10px;
    box-shadow: 0px 2px 10px #554a31;
    background-color: white;
}

.baseCamp-details-header{
    margin: 15px 0px 20px 0px;
}

.baseCamp-details{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px 40px;
}

.baseCamp-name{
    text-align: center;
    margin-bottom: 5px;
}

.view-btn-container{
    display: flex;
    justify-content: center;
    margin: 20px;
}

.addBase-container{
    display: flex;
    justify-content: space-evenly;
    flex-basis: 10%;
}

.addBase-date-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
}

.addBase-date{
    padding: 10px;
}

.addBase-btn-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

