.baseCamp-details-main{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 2px dotted red;
    flex-basis: 40%;
}

.baseCamp-details{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px 40px;
}

.baseCamp-name{
    text-align: center;
}

.view-btn-container{
    display: flex;
    justify-content: center;
    margin: 20px;
}

.addBase-container{
    display: flex;
    justify-content: space-evenly;
    flex-basis: 10%;
}

.addBase-date-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
}

.addBase-date{
    padding: 10px;
}

.addBase-btn-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.addBase-btn{

}
