.newTrip-container, .editTrip-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

.newTrip-form, .editTrip-form{
    display: flex;
    flex-direction: column;
    box-shadow: 0px 2px 10px #554a31;
    background-color: white;
    padding:20px 20px 10px 20px;
    margin: 20px;
    width: 100%;
    max-width: 1000px;
}

.newTrip-header, .editTrip-header{
    text-align: center;
    margin-bottom: 20px;
}

.newTrip-name-container, .editTrip-name-container{
    display: flex;
    justify-content: center;
    margin: 20px;
}

.newTrip-date-container, .editTrip-date-container{
    display: flex;
    justify-content: center;
}

.newTrip-date, .editTrip-date{
    margin: 20px;
}

.newTrip-btn-container, .editTrip-btn-container{
    display: flex;
    justify-content: flex-end;
}

.tripList-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tripList-header{
    text-align: center;
}

.tripCard{
    display: flex;
    flex-direction: column;
    box-shadow: 0px 2px 10px #554a31;
    background-color: white;
    padding:20px 20px 10px 20px;
    margin: 20px;
    width: 100%;
    max-width: 1000px;
}

.tripCard-header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
}

.tripCard-name{
    margin: 0;
}

.tripCard-date-container{
    display: flex;
    justify-content: space-evenly;
    margin-left: 10px;
}

.tripCard-date{
    margin-right: 10px;
}

.tripCard-baseCamp-list-container{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.tripCard-baseCamp-list{
    list-style-type: none;
}

.baseCamp-list-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 10px;
}

.baseCamp-item{
    margin: 5px;
}

.baseCamp-item-btns{
    margin-left: auto;
}

.tripCard-btn-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.baseItinerary-main{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.baseItinerary-card{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-basis: 60%;
    margin: 20px;
    padding: 20px;
    box-shadow: 0px 2px 10px #554a31;
    background-color: white;
}

.baseItinerary-header-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 95%;
}

.baseItinerary-header{
    align-self: center;
}

.baseItinerary-item{
    display: flex;
    margin: 25px;
}

.hike-group{
    margin-right: 10px;
}

.baseItinerary-btn-container{
    display: flex;
    justify-content: center;
}
